<!DOCTYPE html>
<html lang="en">
<head>
	<title>Incident List</title>
	<meta charset="UTF-8">
</head>
<body>
    <input type="button" onclick="window.location.href = 'create.html';" value="Report An Incident">
    <fieldset>
        <legend>Incident List</legend>
        <table style="width:100%">
            <tr>
                <th>Key</th>
                <th>Summary</th>
                <th>Description</th>
                <th>Impact</th>
                <th>Urgency</th>
                <th>Priority</th>
            </tr>
            <tr>
                <td><a href="view.html">DUM-1</a></td>
                <td>Summary-1</td>
                <td>Description-1</td>
                <td>Impact-1</td>
                <td>Urgency-1</td>
                <td>Priority-1</td>
            </tr>
            <tr>
                <td><a href="view.html">DUM-2</a></td>
                <td>Summary-2</td>
                <td>Description-2</td>
                <td>Impact-2</td>
                <td>Urgency-2</td>
                <td>Priority-2</td>
            </tr>
            <tr>
                <td><a href="view.html">DUM-3</a></td>
                <td>Summary-3</td>
                <td>Description-3</td>
                <td>Impact-3</td>
                <td>Urgency-3</td>
                <td>Priority-3</td>
            </tr>
        </table>
    </fieldset>
</body>
</html>
