<!DOCTYPE html>
<html lang="en">
<head>
	<title>Incident Details</title>
	<meta charset="UTF-8">
</head>
<body>
	<div class="container">
		<div class="wrap">
            <label for="title">Key</label><br/>
			<input name="title" type="text" value="DUM-3"/> <br/>
            <label for="title">Summary</label><br/>
			<input name="title" type="text" value="Summary-3"/> <br/>
			<label for="body">Description</label><br/>
			<textarea cols="30" rows="5">Description-3</textarea><br/>
			<label for="impact">Impact</label><br/>
			<select>
				<option value="0">Undefined</option>
				<option selected="selected" value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select><br/>
			<label for="urgency">Urgency</label><br/>
			<select>
				<option value="0">Undefined</option>
				<option selected="selected" value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select><br/>
			<label for="priority">Priority</label><br/>
			<select>
				<option value="0">Undefined</option>
				<option selected="selected" value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select><br/>
            <a href="index.html">Back</a>
		</div>
	</div>
</body>
</html>
